body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 5px black;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],

input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
#button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.singIn{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
     color: cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 10px;
    }
}